<div class="container">
    <h1>Register</h1>
    <hr>
    <form action="/auth/register" method="POST">
        <label>E-mail</label>
        <input type="text" class="form-control"><br>
        <label>Password</label>
        <input type="password" class="form-control"><br>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>